<!DOCTYPE html>
<html>
<head>
    <title> Plot Page </title>
    <style>
        label {
            font-size: 150%;
        }
        input {
            font-size: 150%;
        }
        button {
            font-size: 110%;
        }
    </style>
</head>

<body>
<h1> Choose your plot: </h1>
<form>
    <input type = "radio" id = "P/E ratio plot" name = "plottype" value = 'P/LTM Diluted EPS Before Extra [Latest] (x)'>
    <label for = "P/E ratio plot"> P/E Ratio </label> <br>
    <input type = "radio" id = "P/B ratio plot" name = "plottype" value = 'P/BV [Latest] (x)'>
    <label for = "P/B ratio plot"> P/B Ratio </label>
    <br> <br>
    <input type = "submit" value = "Submit" style="font-size: 100%;">
</form>
<br> <br>
<button onclick = "window.location.href = '/'"> Back </button>
<br>

</body>
</html>