<!DOCTYPE html>
<html lang='en'>
<head>
    <title> Price Multiples Estimation </title>
    <style>
        body {background-color: white;}
        .inputs {
            font-size: 150%;
        }
        .results {
            font-size: 150%
        }
        option {
            font-size: 100%;
        }
        input[type="number"] {
            height: 20px
        }
    </style>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>

<div class = "intro">
    <img src = "./static/logo.png" alt = "Savills Logo" style = "width:128px; height:128px; float: right">
    <h1 style = "text-align: left; font-size: 40px"> Price Multiples Estimation </h1> 
    <p id = "Description"> 
        This web app is used as a reference to determine the possible price multiples (i.e. P/E and P/BV) 
        to be utilized for determining the valuation of a company in a similar industry. 
    </p>
    <h2> Instructions </h2>
    <p id = "Instructions">
        1. Choose Industry <br>
        2. Enter target company's latest financial information <br>
        3. Click "Generate Price Multiples" <br>
        4. Estimated price multiples, along with the graphical data will be shown
    </p>
</div>

<div class = "inputs">
    <!--
    <h3> Choose your industry: </h3>
    <form>
        <input type = "radio" id = "Health Care (Primary)" name = "industry">
        <label for = "Health Care (Primary)"> Health Care (Primary) </label> <br>
        <input type = "radio" id = "Financials (Primary)" name = "industry">
        <label for = "Financials (Primary)"> Financials (Primary) </label>
    </form>
    <br>
        -->
    <br>
    <form action="" method="get">
        <label for = "industry"> Choose your industry: </label>
        <br>
        <select id = "industry" name = "industry" style = "font-size: 110%;">
            <option value = "Health Care (Primary)"> Health Care (Primary) </option>
            <option value = "Financials (Primary)"> Financials (Primary) </option>
        </select>
        <table>
            <tr>
                <td><label for = "rev_growth"> Total Revenue Growth, 3 Year CAGR %: </label></td>
                <td><input type="number" name="total_revenue_growth" id = "rev_growth" placeholder=0.0 step=0.1 pattern="^\d*(\.\d{0,2})?$"/></td>
            </tr>
            <tr>
                <td><label for = "roe"> Return on Equity %: </label></td>
                <td><input type="number" name="return_on_equity" id = "roe" placeholder=0.0 step=0.1 pattern="^\d*(\.\d{0,2})?$"/></td>
            </tr>
            <tr>
                <td><label for = "currentratio"> Current Ratio: </label></td>
                <td><input type="number" name="current_ratio" id = "currentratio" placeholder=0.0 step=0.1 pattern="^\d*(\.\d{0,2})?$"/></td>
            </tr>
            <tr>
                <td><label for = "ebitdamargin"> EBITDA Margin %: </label></td>
                <td><input type="number" name="ebitda_margin" id = "ebitdamargin" placeholder=0.0 step=0.1 pattern="^\d*(\.\d{0,2})?$"/></td>
            </tr>
            <tr>
                <td><label for = "tat"> Total Asset Turnover: </label></td>
                <td><input type="number" name="total_asset_turnover" id = "tat" placeholder=0.0 step=0.1 pattern="^\d*(\.\d{0,2})?$"/></td>
            <tr>
            <tr>
                <td><label for = "debt/cap"> Total Debt / Capital %: </label></td>
                <td><input type="number" name="total_debt_capital" id = "debt/cap" placeholder=0.0 step=0.1 pattern="^\d*(\.\d{0,2})?$"/></td>
            <tr>
        </table>
        <br>
        <input type = "submit" value = "Generate Price Multiples" style = "font-size: 100%;"> 
        <input type = "reset" style = "font-size: 100%;">
    </form>
</div>

</script>
  
<!--
<div class = "results">
    <p> Selected Industry: </p> 
    + selection_industry_type
    <p> The estimated P/E ratio is  </p>
    + predictions["P/LTM Diluted EPS Before Extra [Latest] (x)"]
    <br>
    <p> The estimated P/B ratio is  </p>
    + predictions["P/BV [Latest] (x)"]
</div>
-->

</html>