<!DOCTYPE html>
<html lang='en'>
<head>
    <title> Savills Price Multiples Estimation </title>
    <style>
        body {background-color: white;}
        .inputs {
            font-size: 150%;
        }
        .results {
            font-size: 150%
        }
        option {
            font-size: 100%;
        }
        input[type="number"] {
            height: 20px
        }
    </style>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>

<div class = "intro">
    <img src = "./static/logo.png" alt = "Savills Logo" style = "width:128px; height:128px; float: right">
    <h1 style = "text-align: left; font-size: 40px"> Price Multiples Estimation </h1> 
    <p id = "Description"> 
        This web app is used as a reference to determine the possible price multiples (i.e. P/E and P/BV) 
        to be utilized for determining the valuation of a company in a similar industry. 
    </p>
    <h2> Instructions </h2>
    <p id = "Instructions">
        1. Choose Industry <br>
        2. Enter target company's latest financial information <br>
        3. Click "Generate Price Multiples" <br>
        4. Estimated price multiples, along with the graphical data will be shown
    </p>
</div>

</html>

